#Footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#Footer .social {
  display: flex;
  justify-content: space-between;
}

#Footer .social i:hover {
  cursor: pointer;
}
