label {
    @extend .opac;
}

.skills {
    .skill{
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    .fas {
        padding-right: 1rem;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    input {
        height: 30px;
        @include Placeholder;
      }
}