.statements{
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .statement {
        &:nth-child(1) {
            animation: Opacity 3s ease-in-out 1s infinite;
        }
        &:nth-child(2) {
            animation: Opacity 3s ease-in-out 5s infinite;
            -webkit-animation: Opacity 3s ease-in-out 5s infinite;
}
        &:nth-child(3) {
            animation: Opacity 3s ease-in-out 7s infinite;
            //color: $info-c;
            -webkit-animation: Opacity 3s ease-in-out 7s infinite;
}
        &:nth-child(4) {
            animation: Opacity 3s ease-in-out 9s infinite;
            -webkit-animation: Opacity 3s ease-in-out 9s infinite;
}
    }
}